*{
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
=======
  user-select: none
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
}
.App {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
<<<<<<< HEAD
.bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
=======

>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; 
  position: relative;
  z-index: 1;
}

.balance-container {
  font-size: large;
  font-weight: 700;
<<<<<<< HEAD
  color: rgba(188, 1, 1, 0.6);
=======
  color: rgb(233, 131, 7);
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  display: flex;
  align-items: center;
}

.balance-icon {
<<<<<<< HEAD
  width: 32px;
  height: 32px;
=======
  width: 30%;
  height: 30%;
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  margin-right: 1%;
  border-radius: 50%;
}

.clicker-container {
<<<<<<< HEAD
  outline: none;
  margin: 5%;
=======
margin: 5%;
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
<<<<<<< HEAD
=======
  /* width: 80%; */
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  height: max-content;
  cursor: pointer;
}

.progress-circle {
<<<<<<< HEAD
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  width: 92%;
  border-radius: 50%;
}

.clicker-image {
  transition: transform 0.2s;
=======
  position: absolute;
  z-index: -1;
  width: 92%;
  /* position: absolute; */
  /* position: relative; */
  border-radius: 50%;
  /* background-image: url('../public/bg.png'); */
  /* background-size: 32%; */
  /* background-color: gold; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.clicker-image {
  
  transition: transform 0.2s;
  /* position: absolute; */
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.clicker-image.distorted {
<<<<<<< HEAD
  transform: scale(1.05);
}

.tabs {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 20px;
=======
  transform: scale(1.2);
}

.tabs {position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  position: absolute;
  bottom: 0; 
  left: 0;
  right: 0;
}

<<<<<<< HEAD
=======
.tabs button {
  width: 20%;
  text-align: center;
  padding: 10px;
  background-color: #d005e2;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  flex: 1; 
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
.upgrades button {
  text-align: start;
  margin-top: 1%;
  width: 70%;
<<<<<<< HEAD
  background-color: rgba(188, 1, 1, 0.6);
=======
  background-color: rgb(15, 153, 245);
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  color: rgb(0, 0, 0);
  padding: 1%;
  cursor: pointer;
  border-radius: 5px;
}

<<<<<<< HEAD
=======
.upgrades button:disabled {
  background-color: greenyellow;
  cursor: not-allowed;
}
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4

.balance-container {
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.energy-container {
  font-weight: 800;
  height: 10%;
  font-size: 150%;
  margin-top: 10px;
  color: rgba(188, 1, 1, 0.6);
}
=======
.energy-container {height: 10%;
  font-size: 24px;
  margin-top: 10px;
  color: rgb(156, 235, 9);
}
/* .upgrade-txt{text-align: start;
  font-size: larger;
  color: black;
} */
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
.tab-content {
  height: 100vh;
  margin: 0;    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
<<<<<<< HEAD
  background-color: rgba(188, 1, 1, 0.6); 
=======
  background-color: rgba(255, 255, 255, 0.9); 
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  z-index: 10; 
  transform: translateY(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Добавлено для плавной анимации */
  opacity: 0; /* Изначально невидимо */
}

.tab-content.open {
  transform: translateY(0);
  opacity: 1; /* Становится видимым при открытии */
}


<<<<<<< HEAD
.tabs {gap: 2%;
  display: flex;
  justify-content: center;
  /* margin-top: 0; */
  /* z-index: 20;  */
}

.tabs button {
  border-radius: 5px;
  background-color: rgba(214, 24, 24, 0.6);
  color: rgb(196, 255, 2);
=======
.tabs {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 20px;
  z-index: 20; 
}

.tabs button {
  background-color: #3e98c7;
  color: white;
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

<<<<<<< HEAD
.back-button {
  background-color: rgba(253, 1, 1, 0.6);
  color: rgb(195, 255, 0);
  border: none;
=======
.tabs button.active {
  background-color: #1c6f9b;
}

.back-button {
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
<<<<<<< HEAD
  box-shadow: 0 2px 10px rgba(1, 1, 1, 0.5);
=======
}

.back-button:hover {
  background-color: #45a049; /* Более темный зеленый */
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
}

.settings-tab {
  padding: 20px;
}

.settings-tab .toggle {
  margin: 10px 0;
}

.settings-tab .toggle label {
  display: flex;
  align-items: center;
}

.settings-tab .toggle input {
  margin-right: 10px;
}
<<<<<<< HEAD
.abg-wr-4 {
  position: relative;
  height: 100vh;
  
  overflow: hidden;
  
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    
}
.abg-4 {
  background: linear-gradient(315deg, #65005e 3%, #3c84ce 38%, #30eee2 68%, #ff1919 98%);
  animation: animationbg-4a 15s ease infinite;
  background-size: 400% 400%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;    
}
.abg-4 li {
  position: absolute;
  display: block;
  list-style: none;
  width: 200%;
  height: 120px;    
  left: 0;
  transform: translate3d(0, 0, 0);    
  background: #000;
  border-radius: 100% 100% 0 0;    
}
.abg-4 li:nth-child(1) {
  animation: animationbg-4b 10s -3s linear infinite;
  opacity: 0.4;
  bottom: 0;
}
.abg-4 li:nth-child(2)  {
  bottom: -12px;
  animation: animationbg-4b 18s linear reverse infinite;
  opacity: 0.5;
}

.abg-4 li:nth-child(3)  {
  bottom: -25px;
  animation: animationbg-4b 20s -1s reverse infinite;
  opacity: 0.6;
}
@keyframes animationbg-4a {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
@keyframes animationbg-4b {
  2% {
      transform: translateX(1);
  }
  
  25% {
      transform: translateX(-25%);
  }
  
  50% {
      transform: translateX(-50%);
  }
  
  75% {
      transform: translateX(-25%);
  }
  
  100% {
      transform: translateX(1);
  }
}
=======
/* .clicker-container{
  transition: transform 0.2s;
  animation: ClickRotate 10s infinite;
} */
/* @keyframes ClickRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
 
 

} */
>>>>>>> f461477c2c31bf26dc68844b7394ce17e9ffddc4
